.create-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-container {
	padding-top: 90px;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.filters-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	align-items: center;
}

.body-container {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.cards-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: 80%;
	width: 100%;
}

.page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 20%;
}

.links {
	text-decoration: none;
}

.detail-container {
	/* height: fit-content; */
	display: flex;
	flex-direction: row;
	border-radius: 3px;
	justify-content: center;
}

.description {
	width: 60%;
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 20px;
}

.description-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
